<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.its.solveexponents.teacheraica">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aica"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".content.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".content.SolveProblemActivity">
            android:windowSoftInputMode="adjustNothing"
        </activity>

        <activity
            android:name=".content.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="edu.its.solveexponents.teacheraica.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
